.favorites-item {
  background: var(--lavender-blue);
  border-radius: 4px;
  position: relative;
  margin-bottom: 8px;
  padding: 16px 8px;

}

.favorites-item__header {
  display: flex;
  flex-direction: row;

  & > button {
    align-self: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;

    &:hover {
      svg {
        color: var(--border-blue-two);
      }
    }
  }

  svg {
    width: 24px;
    height: 24px;
    color: rgba(160, 174, 192, .90);
  }
}

.memo-label {
  display: block;
  margin: 1rem 0 .25rem;
  color: rgba(160, 174, 192, .90);
}

.context-menu {
  display: none;

  &--active {
    background: #fff;
    border: 1px solid var(--border-blue);
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 40px;
    padding: 8px 16px;
    box-shadow: -11px 1px 14px -1px rgb(216, 213, 216);

    .actions > button {
      background: transparent;
      border: none;
      cursor: pointer;
      color: var(--border-blue-two);
      padding: 0;
      margin-left: 8px;

      &:hover {
        color: var(--link-primary);
      }
    }
  }
}

