.favorite-form {
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  box-shadow: -11px 1px 14px -1px rgba(150,148,150,1);
  width: 60vw;

  & > h3 {
    font-weight: bold;
    margin-bottom: 64px;
  }

  & > form > label {
    display: flex;
    flex-direction: column;

    & > input {
      border: 2px solid var(--border-blue);
      border-radius: 4px;
      padding: 4px 8px;
      margin: 16px 0;

      &:focus,
      &:active {
        border: 2px solid var(--border-blue-two);
      }
    }
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > button {
    padding: 8px 16px;
    margin-right: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
}

.cancel {
  background: #ddd;

  &:hover {
    background: var(--border-blue);
  }
}

.submit {
  background:var(--border-blue-two);
  color: #fff;
  border: 1px solid var(--border-blue);

  &:hover {
    background: var(--button-hover);
  }
}
