:root {
  --favorited-yellow: hsl(47, 73%, 58%);
}

.pokemon-card {
  background: var(--lavender-blue);
  border-radius: 4px;
  height: 200px;
  display: grid;
  margin-bottom: 8px;
  grid-template: "top" "middle" "bottom";
  grid-template-rows: auto auto auto;
  grid-template-rows: auto 1fr auto;
  padding: 8px 16px;

  &--selected {
    border: 2px solid var(--border-blue-two);
  }

  & > button {
    align-self: flex-end;
    background: transparent;
    border: none;
    grid-area: top;
    justify-self: flex-end;
    width: 24px;
    margin-right: 8px;
    cursor: pointer;

    &:hover {
      color: var(--border-blue-two);
    }

    &.favorited {
      color: var(--favorited-yellow);
    }
  }

  svg {
    height: 24px;
    width: 24px;
  }
}

.info-container {
  grid-area: bottom;

  & > h3 {
    font-weight: bold;
  }
}

.id-tag {
  display: inline-block;
  background: white;
  padding: 2px 4px;
  border: 2px solid var(--border-blue);
  border-radius: 3px;
  min-width: 32px;
  text-align: center;
}

