.search-input {
  background: white;
  border: 2px solid var(--border-blue);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 4px 8px;

  &:focus,
  &:active,
  &:focus-within {
    border: 2px solid var(--border-blue-two);

    svg {
      color: var(--border-blue-two);
    }
  }

  & > input {
    border: none;
    outline: none;
    overflow: hidden;
  }

  & > button {
    background: transparent;
    border: none;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 8px;
    width: 24px;
  }

  svg {
    width: 24px;
    height: 24px;
    color: var(--border-blue);
  }
}

