@import 'normalize.scss';

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'),
    local('Ubuntu Light'), local('Segoe UI Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

// css variables
:root {
  /* CSS */
  --lavender-blue: hsla(248, 22%, 94%, 1);
  --primary-red: hsl(355, 78%, 60%);
  --border-blue-two: hsl(213.4,76.2%,58.8%);
  --border-blue: hsl(212,18.8%,68.6%);
  --link-primary: hsl(233, 24%, 19%);
  --button-hover: hsl(213.3, 73.6%, 31.2%);
}

body {
  font-family: 'system';
}

.layout {
  display: grid;

  grid-template-areas:
    'header header side'
    'nav content side'
    'footer footer footer';

  grid-template-columns: 264px 1fr 264px;
  grid-template-rows: auto 1fr auto;

  height: 100vh;

  & > header {
    grid-area: header;
    background: var(--lavender-blue);
    border: 1px solid var(--border-blue);
    padding: 8px 16px;

    & > h2 {
      margin: 0;
    }
  }

  & > nav {
    grid-area: nav;
    background: var(--lavender-blue);
    margin-right: 8px;
  }

  & > main {
    grid-area: content;
    padding: 16px;
  }

  & > aside {
    grid-area: side;
    box-shadow: -11px 1px 14px -1px rgb(216, 213, 216);
 
  }

  & > footer {
    grid-area: footer;
  }
}

.a11y-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
