.nav-header {
  padding: 8px 16px 0;
}

.category-list {
  list-style: none;
  padding: 0
}

.category-list__item {
  cursor: pointer;

  & > a {
    color: var(--link-primary);
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 8px 32px;
  }

  .active,
  &:hover {
    background-color: white;
    font-weight: bold;
  }
}