.favorites-view {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 16px 16px 8px;
  }
}

.cards-list {
  padding: 16px 16px 8px;

  &--empty {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 50vh;

    & > span {
      color: var(--border-blue);
      margin: auto;
    }
  }
}