// @import '../Variables.scss';

.modal-wrapper {
  display: none;

  &--active {
    align-items: center;
    background: rgba(0, 0, 0, 0.64);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }
}

.modal-content {
  position: relative;
  overflow: auto;
}